#navbar{
    background-color: rgb(214, 222, 222);
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 120px;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 40%;
}
img{
    border-radius: 50px;
    margin-left: 20%;
}
a{
    font-size: 30px;
    text-decoration: none;
    color: black;
    padding:10px ;
    border: 2.5px dotted rgb(18, 18, 19);
    text-align: center;
    border-radius: 10px;
    margin-right: 200px;

}
a:hover{
    background-color: white;
}
*{
    margin: 0px;
    padding: 0px;
}


