h1{
    text-align: center;
    font-size: 70px;
}
p{
    background-color:#113f67;
    color:#e7eaf6;
    font-family:'Times New Roman', Times, serif;
}
pre ,ins * {
    background-color:#a2a8d3;
    font-size: 30px;
}
.ulclass{
    background-color:#113f67;
    color:#e7eaf6;
    font-size: 20px;
    font-style: italic;
}
#head2{
    color:#38598b;
    font-size: large;
    font-family: "Lucida Console", "Courier New", monospace;
    font-style: normal;
}
