body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f5f5f5;
}

table {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
    border: 4px solid #000;
}


th, td {
    border: 3px solid #000;
    text-align: center;
    padding: 12px 15px;
}

thead {
    background-color: #e70f0f;
}

thead th {
    font-weight: bold;
    font-size: 16px;
    background-color: #497284f3;
    color: #000;
}

tbody tr {
    height: 50px;
}

tbody td {
    vertical-align: middle;
} 
